<% layout('partials/layout.ejs') %>

  
    <!-- slider section -->
    <section class="slider_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <h1>Connecting Villages and Homes <br> To Recycling Companies</h1>
              <p>Recycle Connect bridges the gap between rural and urban households and professional recycling
                companies. We make recycling easy, accessible, and impactful for a cleaner future.</p>
              <a href="/auth/dashboardRedirect">Get Started</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img
                src="https://media.istockphoto.com/id/1919016241/photo/words-reduce-reuse-recycle-on-a-wooden-cube-on-green-background-ecology-sustainability.jpg?s=612x612&w=0&k=20&c=pHsN68_fvt5vrfovCplRzOYJKy1eUDLcBuJRtkNHtNc="
                alt="Recycling Image">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>About Us</h2>
            <p>Recycle Connect is dedicated to creating sustainable communities by connecting homes, villages, and
              businesses directly with recycling companies. We promote responsible waste management and help local
              economies thrive through recycling partnerships.</p>
            <a href="/user/about">Learn More</a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="https://i.pinimg.com/736x/9e/41/1e/9e411e43addf33e87e72094d130301c3.jpg" alt="About Recycling">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- professional section -->
  <section class="professional_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://www.econlib.org/wp-content/uploads/2018/05/recycling-2.jpg" alt="Professional Services">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>We Deliver Professional Recycling Services</h2>
            <p>Our platform ensures that recyclable materials are handled by certified companies, making recycling
              simple, trustworthy, and impactful for every community we serve.</p>
            <a href="/user/services">Our Services</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end professional section -->

  <!-- services section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Services</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">

            <div class="detail-box">
              <h5>Household Collection</h5>
              <p>We organize door-to-door pickups for recyclable waste from homes and small communities.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">

            <div class="detail-box">
              <h5>Village Recycling Drives</h5>
              <p>Partner with entire villages for large-scale recycling and environmental education.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box">

            <div class="detail-box">
              <h5>Connect with Recyclers</h5>
              <p>Find certified recycling companies ready to process plastics, electronics, paper, and more.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end service section -->

  <!-- client section -->
  <section class="client_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>What Our Partners Say</h2>
      </div>
      <div class="carousel-wrap layout_padding2-top">
        <div class="owl-carousel">
          <!-- Client Testimonials -->
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="https://cdn-clibi.nitrocdn.com/OmAxDmvnEDrIbyCCcgEheUGaGtzJEYJA/assets/images/optimized/rev-47ed74f/wpstackable.com/wp-content/uploads/2022/03/leilani-angel-K84vnnzxmTQ-unsplash-scaled.jpg" alt="Village Leader" height="90px">
                </div>
                <div class="client_detail">
                  <h6>Amara Singh</h6>
                  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                    class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>Recycle Connect made it possible for our village to manage waste sustainably for the first time.
                  Highly recommend their service!</p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="https://photoheads.co.uk/wp-content/uploads/2020/05/headshot-with-client-testimonial.jpg" alt="Village Leader" height="90px">
                </div>
                <div class="client_detail">
                  <h6>Samba</h6>
                  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <div class="client_text">
                <p>Such a useful website,made our waste management easy and profitable.Ecofriendly services like this are appreciable!</p>
              </div>
            </div>
          </div>

        
          <div class="item">
            <div class="box">
              <div class="client_id">
                <div class="img-box">
                  <img src="https://media.istockphoto.com/id/1135381173/photo/portrait-of-a-young-man-outdoors-smiling.jpg?s=612x612&w=0&k=20&c=J8DKGHI8o-oj8cY1CCNpFY2V9OmVVbJuKSO2DdbMvRg=" alt="Village Leader" height="90px">
                </div>
                <div class="client_detail">
                  <h6>Avinash</h6>
                  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> 
                </div>
              </div>
              <div class="client_text">
                <p>Recycle Connect made it possible for our village to manage waste sustainably for the first time.
                  Highly recommend their service!</p>
              </div>
            </div>
          </div>
          <!-- More testimonials can be added -->
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->
