<% layout('partials/layout.ejs') %>


   <!-- services section -->
   <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Services</h2>
        <p>Empowering communities and ensuring sustainable waste management solutions.</p>
      </div>
      <div class="row">
        
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <i class="fas fa-trash-alt fa-3x"></i>
            </div>
            <div class="detail-box">
              <h5>Collection of Waste</h5>
              <p>We arrange regular collection of recyclable waste materials from homes, businesses, and local centers.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <i class="fas fa-tractor fa-3x"></i>
            </div>
            <div class="detail-box">
              <h5>Picking up Waste from Villages</h5>
              <p>Special outreach programs to collect waste from remote villages and support rural communities in recycling efforts.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <i class="fas fa-handshake fa-3x"></i>
            </div>
            <div class="detail-box">
              <h5>Connecting with Recyclers</h5>
              <p>We link individuals and organizations with verified recyclers to ensure safe, responsible recycling of materials.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end services section -->

 
